body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue', 'Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

.wrapper {
  display: block;
  min-height: 100%; }

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 98;
  overflow-y: hidden; }

.content {
  min-width: 100%;
  padding-top: 5px;
  padding-right: 40px;
  padding-left: 220px;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  position: relative;
  width: 100%; }

@media (max-width: 768px) {
  .content {
    padding: 0; } }
