.sortBtn {
  background-color: rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0);
  white-space: nowrap !important;
  text-align: center !important;
  display: inline !important; }
  .sortBtn .icon {
    float: right !important; }

.addBtn {
  width: 100%;
  white-space: nowrap;
  text-align: center; }

.entries {
  width: 200px; }

.overflow-table {
  max-height: calc(200vh - 212px) !important;
  overflow-y: hidden !important; }
